*{
    margin: 0;
    padding: 0;
}
.Foto{
    width: 150px;
    height: 150px;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25%;
    margin-top: 5%;
}